body{
  font-family: 'Roboto', sans-serif;
}
.h1 {
  color: #01c5c4;
  font-family: 'Noto Sans JP', sans-serif;
}

.h2 {
  font-family: 'Open Sans', sans-serif;
  color: #c0e218;
  font-size: 20px;
}

.div1 {
  height: 300px;
  text-align: left;
  padding: 30px;
}

.div2 {
  height: 300px;
  line-height: 2;
}

.div3 {
  float: left;
  width: 50%;
  background-color: #01c5c4;
  height: 300px;
  text-align: left;
  padding: 30px;
}

.div4 {
  margin-left: 50%;
  height: 300px;
  background-color: #4cbbb9;
  text-align: left;
  padding: 30px;
}

.p2 {
  margin-left: 70px;
  line-height: 1.8;
  color: #e3e3e3;
}
.p1{
  line-height: 2;
  color: #bbbbbb;
}
.why{
  font-size: 25px;
  margin-left: 70px;
  line-height: 1.5;
  color: #ffffff;
}
.month{
  font-size: 18px;
  color: #ffffff;
}
.s1{
  color: #ffffff;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}
.s2{
  color: #dfdfdf;
  font-size: 15px;
  margin: 7px auto;
  position: absolute;
  margin-left: 12px;
}
.full{
  color: #e3f6f5;
}
.btn {
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   height: 0;
   line-height: 0;
   color: #FFFFFF;
   font-family: Georgia;
   width: 233px;
   font-size: 16px;
   font-weight: 100;
   padding: 20px;
   background-color: #C0E218;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 20px auto;
}
.div5{
  height: 100px;
  text-align: center;
  margin-top: 80px;
}
